<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dog.wil.ariafred</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>5BBBEF8D-B80D-471F-961F-886F344F1B9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85E562C1-0EB6-4234-B34E-BE1843D9E441</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>82126C11-9FA3-4DFC-8917-FCD788552F38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>032DABC0-4F0C-4875-A556-DF07D92D1563</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>85E562C1-0EB6-4234-B34E-BE1843D9E441</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F555CDC-0040-4F77-9ACF-DEDA171D11D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>60B41887-2E94-4CAF-8BFD-E3108279053A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>90400F13-F9A6-46D0-95D6-F45BD7F8C733</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>82126C11-9FA3-4DFC-8917-FCD788552F38</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8F555CDC-0040-4F77-9ACF-DEDA171D11D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>032DABC0-4F0C-4875-A556-DF07D92D1563</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>90400F13-F9A6-46D0-95D6-F45BD7F8C733</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Wildog</string>
	<key>description</key>
	<string>Manage Aria2 downloads with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ariafred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>aria</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Connecting Aria2...</string>
				<key>script</key>
				<string>/usr/bin/python aria.py {query}</string>
				<key>title</key>
				<string>Manage Aria2 downloads</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>85E562C1-0EB6-4234-B34E-BE1843D9E441</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5BBBEF8D-B80D-471F-961F-886F344F1B9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python aria_actions.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8F555CDC-0040-4F77-9ACF-DEDA171D11D7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"
gid=${query#--*[ ]}
command="--switch "
/usr/bin/python aria_actions.py $command$gid</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>60B41887-2E94-4CAF-8BFD-E3108279053A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>032DABC0-4F0C-4875-A556-DF07D92D1563</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"
gid=${query#--*[ ]}
command="--rm "
/usr/bin/python aria_actions.py $command$gid</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>90400F13-F9A6-46D0-95D6-F45BD7F8C733</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"
gid=${query#--*[ ]}
command="--url "
/usr/bin/python aria_actions.py $command$gid</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>82126C11-9FA3-4DFC-8917-FCD788552F38</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>032DABC0-4F0C-4875-A556-DF07D92D1563</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>5BBBEF8D-B80D-471F-961F-886F344F1B9D</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>60B41887-2E94-4CAF-8BFD-E3108279053A</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>82126C11-9FA3-4DFC-8917-FCD788552F38</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>85E562C1-0EB6-4234-B34E-BE1843D9E441</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>8F555CDC-0040-4F77-9ACF-DEDA171D11D7</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>90400F13-F9A6-46D0-95D6-F45BD7F8C733</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://wil.dog</string>
</dict>
</plist>
